<!-- in Material module there is a custom component fro checkBox and md-checkbox is a selector for that component -->
<!-- showDetail is a variable declared. -->

<mat-checkbox
#showDetails    
[value] = ""
[checked] = "isChecked"
(change) = "onChange($event)"
>Show Details
</mat-checkbox>

<div *ngIf = "showDetails.checked">
    these are the details......
</div>

<br>

<mat-radio-group value="1">
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="0" >Female</mat-radio-button>
</mat-radio-group> 

<br>

<mat-select [(ngModel)]="color">
  <mat-option
  *ngFor = "let color of colors"
   [value]="color.id">{{ color.name }}</mat-option>
</mat-select>

<br>

  <mat-form-field>
    <input 
       ngModel
       name="Username"
       matInput placeholder="Username" required>
    <mat-hint>Type your name</mat-hint>
    <span matSuffix>@dullat.com</span>
    <span matPrefix>MR.</span>
    <mat-error>
      The Username feild is required.
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <textarea matInput matTextAreaAutosize rows="2"></textarea>
  </mat-form-field>

  <br>

  <mat-form-field>
      <input 
      [min]="minDate"
      [max]="maxDate"
      matInput [matDatepicker]="birthday" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
      <mat-datepicker #birthday touchUi="true"></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-icon>add_alert</mat-icon>
    <br>
    <button>Button</button>
    <button color="primary" mat-raised-button>primary</button>
    <button color="accent" mat-raised-button>accent</button>
    <button color="warn" mat-raised-button>warn</button>
    <button mat-fab><mat-icon>check</mat-icon></button>

    <br>

    <mat-chip-list>
      <mat-chip
      *ngFor="let category of categories"
      (click)="selectCategory(category)"
      [selected]="category.selected"
      >{{ category.name }}</mat-chip>
    </mat-chip-list>

    <br>

    <mat-progress-spinner 
       *ngIf="isLoading"
       mode="indeterminate" 
       [value]="progress">
  </mat-progress-spinner>

  <br>

  <span matTooltip="Here is myToolTip" matTooltipPosition="right">Some Text</span>
  
  <br>

  <mat-tab-group>
    <mat-tab label="Billing">Content of the Billing tab.</mat-tab>
    <mat-tab label="Shipping">Content of the Shipping tab.</mat-tab>
  </mat-tab-group>

  <br>
   (
  <button 
  (click)="openDialog()"
  mat-raise-button>Open Dialog
  </button>




 
